---
import Post from "../layouts/Post.astro";
import Chapter from "../components/Chapter.astro";
---

<Post title="About">
      <Chapter name="About this blog" id="about" />
      <p>
        Hi! I’m Damian Skrzypiec and this is my blog. I write mostly about 
        mathematics and programming in general.
      </p>

      <Chapter name="About me" id="about-me" />
      <p>
        I live in Warsaw, Poland. I’m a math graduate but my main interest is 
        programming and computer science. I do like statically typed and compiled 
        programming languages and data engineering. I have experience in C#, Go, and Scala. 
        I like C++ a lot but unfortunately, I didn’t work with it professionally. In my old 
        days, I was proficient in R and data science. I’m still proficient in SQLs. 
        I could write thousand-line-long queries on a sheet of paper without any syntax 
        error—sometimes in my free time I’m working on SQL parsers. I’m a (Neo)Vim user 
        and I basically live in the terminal whenever I can.
      </p>
      <p>
        I used to be a speedcuber (WCA). Nowadays I like to play with 3x3x3 and 5x5x5 
        during programming to practice my muscle memory and concentration.
      </p>
      <p>
        For the first few years of my career, I’ve been working in the financial sector 
        (credit risk to be precise) where I’ve been an analyst, data scientist, and 
        backend developer. In 2021 I joined Allegro Pay, which is a subsidiary to the 
        biggest e-commerce in Poland, as a senior data engineer. In the second half of 
        2022, I spent my time working at TCL Research Europe as a senior big data 
        engineer building overseas big data platform for TCL. In February 2023 I went 
        back to the financial world and joined US hedge fund Point72 as a software 
        engineer in the Risk Technology team to build a distributed analytical platform 
        for the Risk team. In September 2024 I joined Connecty AI (a start-up) as a 
        founding engineer to build a product that will provide direct insights about 
        your data using LLMs and a context engine.
      </p>

      <Chapter name="Contact" id="contact" />
      <p>
        In case you have any questions or want to check the source code for some post, 
        here are my email and GitHub:
      </p>
      <ul>
        <li>Email: <a href="mailto:info@dskrzypiec.dev">info@dskrzypiec.dev</a></li>
        <li>GitHub: <a href="https://github.com/DSkrzypiec" target="_blank">github.com/DSkrzypiec</a></li>
      </ul>
</Post>
