---
import Post from "../layouts/Post.astro";
import PostTitle from "../components/PostTitle.astro";
import Chapter from "../components/Chapter.astro";
import { Code } from 'astro:components';
---

<Post title="AWK - forgotten data engineering tool">
  <PostTitle
    title="AWK - forgotten data engineering tool"
    date="2022-03-20"
  />

  <Chapter name="Intro" id="intro" />
  <p>
    This post is dedicated to <a href="https://en.wikipedia.org/wiki/AWK">AWK</a>. Despite the
    title AWK is not totally forgotten but still many data scientists and engineers
    have never heard of it. Since 1977 many things have changed in the data world,
    especially the scale, but in my opinion it's still relevant and useful tool in
    2022.
  </p>

  <Chapter name="What is AWK" id="what-is-awk" />
  <p>
    AWK is a tiny, domain-specific language for text processing. It can be used via
    <code>awk</code> program which is usually available on UNIX-like systems out of the box. From
    this point on I'll use AWK as the reference to the language and the program.
  </p>

  <p>
    AWK was designed and developed by three office mates in Bell Labs in 1970s -
    Alfred <strong>A</strong>ho, Peter <strong>W</strong>einberger and Brian <strong>K</strong>ernighan. It was released
    in 1977! 45 years ago! How many IT tools from over 40 years ago do you use?  I
    guess not many. Why would anyone should use tool that old? Isn't there any
    better alternatives nowadays? Basically no. I think mentioned authors solved
    very generic problem using simple and beautiful design. There is very little to
    improve in term of design and high level aspects.
  </p>

  <p>
    For someone who has never used AWK it's probably still not clear what AWK
    does, so let's focus on this point.
  </p>

  <Chapter name="How AWK works" id="how-awk-works" />
  <p>
    AWK basically scans input (from standard in or a file) line by line and perform
    some action on fields (data separated by given separator). Actions might be
    conditioned on patterns. There is already few characteristics of a general
    problem that AWK is designed to solve:
  </p>

  <ol>
    <li>Structured data with known separator</li>
    <li>Processing data from input line by line</li>
    <li>Using pattern matching for actions</li>
  </ol>

  <p>
    AWK script is composed of the beginning, list of rules and the ending.
  </p>

  <Code lang="awk" theme="dark-plus" code={`# AWK script in file simple.awk

BEGIN { print "Hello!" }
$1 > 0 { print "Positive" }
$1 == 0 { print "Zero" }
$1 < 0 { print "Negative" }
END { print "End!" }`} />

  <p>
    The above AWK script will goes line by line from the input and start to apply
    rules for each line. In our scripts we have three rules - all based on value of
    the first field <code>$1</code>. Based on the first field value appropriate code block
    will be executed. Furthermore we have <code>BEGIN</code> and <code>END</code> clause. Their code
    blocks will be executed <strong>once</strong> at the beginning and end of processing.
    Clauses <code>BEGIN</code> and <code>END</code> are optional.
  </p>

  <p>
    For example (flag <code>-f</code> states that script would be applied)
  </p>

  <Code lang="bash" theme="dark-plus" code={`echo "42\n-10\n0" | awk -f simple.awk`} />

  <p>
    will produce the following output:
  </p>

  <Code lang="plaintext" theme="dark-plus" code={`Hello!
Positive
Negative
Zero
End!`} />

  <p>
    As we saw in previous example we can refer to field using <code>$&#123;number&#125;</code> notation.
    Also <code>$0</code> means the whole line. In particular one of simplest AWK usages for
    printing the file can be written as
  </p>

  <Code lang="bash" theme="dark-plus" code={`awk '{ print $0 }' file.txt`} />

  <p>
    We also have (for each line) variables like <code>NR</code> - number of current row and
    <code>NF</code> - number of fields in the current row. Immediate use of this can be
    validation whenever the file contains 4 columns in every row:
  </p>

  <Code lang="bash" theme="dark-plus" code={`awk -F ';' 'NF != 4 { print $0 }' file.txt`} />

  <p>
    Flag <code>-F</code> specify the separator. The above example will print every line in
    <code>file.txt</code> with number of columns different from 4.
  </p>

  <p>
    More examples will come in next chapters. For now we'll be focused only on the
    main idea and mechanism of AWK.
  </p>

  <Chapter name="When AWK might be useful" id="when-awk-useful" />
  <ul>
    <li>You have to perform data manipulation or validation on file that doesn't fit
      into RAM</li>
    <li>You want to perform some data manipulation within *NIX pipeline (where input
      is output of another program)</li>
    <li>You want to perform data checks after export into flat file</li>
    <li>You've got raw database dump in form of a file and want to look into it
      quickly</li>
  </ul>

  <p>
    I even read of some uses of AWK in production using scripts with over 1k lines
    of codes. In my opinion it might a be a bit of exaggeration.
  </p>

  <Chapter name="One-liners" id="one-liners" />
  <p>
    Here you can find few one-liners used by myself most often with AWK.
  </p>

  <h3>Number of columns (fields) validation</h3>
  <Code lang="bash" theme="dark-plus" code={`awk 'NF != 4 { print $0 }' file.txt`} />

  <p>
    For each line <code>number of fields is not equal to four</code> rule is checked. If this
    case happen, than the program will print the whole row using <code>$0</code>. Otherwise
    there is no action. So if all rows in the <code>file.txt</code> would have four columns,
    than the above command should return nothing.
  </p>

  <h3>Sum of values from given column</h3>
  <Code lang="bash" theme="dark-plus" code={`awk '{ sum += $3 } END { print sum }' file.txt`} />

  <p>
    For each line variable <code>sum</code> will be incremented by value from third field.
    After all rows are processed <code>sum</code> variable will be printed.
  </p>

  <h3>Count distinct values</h3>
  <Code lang="bash" theme="dark-plus" code={`awk '
    { cnt[$1]++ }
    END {
        for (x in cnt) printf "%s: %d\n", x, cnt[x]
    }' file.txt`} />

  <p>
    In this case for each row map (dictionary) variable <code>cnt</code> will increment value
    for key based on value from the first field. After all lines are processed we
    will iterate over the <code>cnt</code> map and prints its keys and values.
  </p>

  <Chapter name="Summary" id="summary" />
  <p>
    In my opinion AWK is just brilliant. Remarkable, timeless and simple design.
    From my experience AWK has the highest return on investment from all IT tools
    I've learned. One can easily learn AWK in 1-2 hours and its applications are
    really wide, especially if you work with data at some level. Even if you don't
    really work with data but you do use UNIX-like terminal than also you should
    find AWK very useful.
  </p>

  <p>
    <strong>PS.</strong> There is a recording on YouTube of the talk between Lex Fridman and Brian
    Kernighan. I highly recommend it - really interesting.
    <a href="https://youtu.be/O9upVbGSBFo?t=2121">Link</a>.
  </p>

  <Chapter name="References" id="references" />
  <ol>
    <li><a href="https://en.wikipedia.org/wiki/AWK">Wiki</a></li>
    <li><a href="https://www.gnu.org/software/gawk/manual/gawk.html">The GNU Awk User's Guide</a></li>
  </ol>

</Post>
