---
import Post from "../layouts/Post.astro";
import PostTitle from "../components/PostTitle.astro";
import Chapter from "../components/Chapter.astro";
import SubChapter from "../components/SubChapter.astro";
import Image from "../components/Image.astro";
---

<Post title="19th International Fruderyk Chopin Piano Competition">
  <PostTitle
    title="19th International Fryderyk Chopin Piano Competition"
    date="2025-11-29"
  />

    <Image src="/chopin19/program.jpg"
        alt="Program Book for 19th International Fryderyk Chopin Piano Competition"
        caption="Program Book for 19th International Fryderyk Chopin Piano Competition" />

    <Chapter name="Introduction" id="intro" />
    <p>
        Around a year ago, at the end of September 2024, I started learning to play piano. It increased my interest in
        classical music. As a Pole I've been hearing Chopin pieces since childhood, but only recently I started to
        listen to it in more structured fashion. Starting with etudes, preludes, ballads and scherzos. Few months later
        I started to learn two Chopin preludes myself - Op.28 No.4 (E minor) and Op.28 No.20 (C minor). I was also
        reading notes for much more advanced pieces which I like, to get an idea how difficult they are to play.
    </p>

    <p>
        All those experiences made me interested in the Chopin compositions even more. I was so lucky, when it turned
        out that the next International Chopin Competition would take place in October 2025, just few months ahead. I
        was very excited!
    </p>

    <p>
        On the other hand it turned out that the tickets for the competition were sold several months earlier (within
        just 10 minutes!) - a year before the event in October 2024. Three weeks of live concerts in Warsaw
        Philharmonic and I couldn't get any tickets! That was a bit disappointing. Though I was still excited to follow
        the competition transmission online.
    </p>

    <p>
        On October 1st 2025, just before the official start of the competition, I came by <a
            href="https://muzeum.nifc.pl/en/muzeum/wizyta-informacje/">Chopin Museum</a> in Warsaw and purchased the
        program book for the competition. I was ready to listen, make notes and enjoy the interpretations.
    </p>

    <Chapter name="Live concerts" id="live" />
    <p>
        Even though I couldn't get any tickets for the competition, just few weeks before competition started, the
        series of live concerts were announced. They were organized by <a href="https://nowamiodowa.pl/pl">Nowa
            Miodowa</a>. It was called "Pomiędzy Etapami" (Between Stages). The main idea was to let competition
        participants play the program from the next stage, before the next stage started. The concerts were held in a
        new music hall, with around 300 seats. Luckily I got tickets for all four concerts in this series.

        Let me recall participants who played in those concerts.

        <ul>
            <li>
                <strong>Before the second stage (October 4th 2025)</strong>
                <ul>
                    <li>Yuanfan Yang (UK)</li>
                    <li>Adam Wierciński (Poland)</li>
                </ul>
            </li>
            <li>
                <strong>Before the second stage (October 5th 2025)</strong>
                <ul>
                    <li>Michał Basista (Poland)</li>
                    <li>Tomoharu Ushida (Japan)</li>
                </ul>
            </li>
            <li>
                <strong>Before the third stage (October 11th 2025)</strong>
                <ul>
                    <li>Xuehong Chen (China)</li>
                    <li>Yang (Jack) Gao (China)</li>
                </ul>
            </li>
            <li>
                <strong>Before the third stage (October 12th 2025)</strong>
                <ul>
                    <li>Shiori Kuwahara (Japan)</li>
                    <li>Yumeka Nakagawa (Japan)</li>
                </ul>
            </li>
        </ul>

        It was fantastic to hear those pianists live, before they played in the next stage of the competition.
    </p>

    <p>
        Additionally to mentioned concerts I participated in one other concert. My friend managed to get two
        tickets for the first Prizes-Winners concert which took place on October 21st, just a day after the competition
        concluded, in Warsaw Grand Theatre. All finalists and prize-winners played there. That includes:

        <ul>
            <li>Bella Davidovich Award for the best performance of a ballade: <strong>Adam Kałduński</strong> (Poland)</li>
            <li>Award for the best performance of mazurkas: <strong>Yehuda Prokopowicz</strong> (Poland)</li>
            <li>Sixth Prize: <strong>William Yang</strong> (USA)</li>
            <li>Fifth Prize: <strong>Piotr Alexewicz</strong> (Poland)</li>
            <li>Fifth Prize: <strong>Vincent Ong</strong> (Malaysia)</li>
            <li>Forth Prize: <strong>Shiori Kuwahara</strong> (Japan)</li>
            <li>Forth Prize: <strong>Tianyao (Marysia) Lyu</strong> (China)</li>
            <li>Third Prize: <strong>Zitong Wang</strong> (China)</li>
            <li>Second Prize: <strong>Kevin Chen</strong> (Canada)</li>
            <li>First Prize: <strong>Eric Lu</strong> (USA)</li>
        </ul>

        Before the concert started, there was also an award ceremony, where regular and special prizes were given to
        participants. There were few speeches from politicians, including the President of Poland. That was the boring
        part. Comparing to the logistic and preparation of the competition in Warsaw Philharmonic, which was excellent,
        the organization of this concert in Grand Theatre was much worse. Concert was performed on Fazioli piano, which
        was picked by Eric Lu (winner). It was great to hear all those pianists live.
    </p>


    <Chapter name="Personal notes" id="personal-notes" />

    <p>
        I'd like to share with you my personal notes on some of the participants, who caught my attention during
        the competition. Those nores are not really structured and in any degree formal reviews. Just my personal
        impressions.
    </p>

    <SubChapter name="Adam Wierciński" />
    <p>
        <a href="https://www.chopincompetition.pl/en/competitors/846">Adam Wierciński</a> (Poland) has performed in the
        first day of the first stage. He really caught my attention. He played very freely and natural yet with pure
        sound. I liked his intepretations. I was very disappointed when he didn't advance to the second stage.
        Especially, since I've heard him live in the "Between Stages" concert just few days before the second stage
        started. In the first stage, in my opinion, he played etude and waltz very well. His ballade was also great,
        but I'd say it could be treated as less conventional interpretation. I liked it anyway.
    </p>

    <p>
        In the "Between Stages" concert where he played his program for the second stage, I really liked his preludes interpretation.
        Also live I could experiences his precise and natural touch, which was expressed in the sound.
    </p>

    <SubChapter name="Andrey Zenin" />
    <p>
        <a href="https://www.chopincompetition.pl/en/competitors/813">Andrey Zenin</a> (under neutral flag) as one of
        very few has performed the first ballade (Op. 23, G minor) in the first stage. I really liked his
        interpretation. In general he played in mature and thoughtful way. In his case I was also disappointed that he
        didn't advance to the second stage.
    </p>


    <SubChapter name="Kai-Min Chang" />

    <p>
        <a href="https://www.chopincompetition.pl/en/competitors/663">Kai-Min Chang</a> (Chinese Taipei) caught my
        attention in the first stage, by playing nocturne in F-sharp minor (Op. 48 No. 2). It was so beautiful. Very
        good phrasing, clarity of sound and control of dynamics.
    </p>

    <p>
        Fortunetly Kai-Min has advanced to the second stage. There I liked his intepretations of preludes (from 19th to
        24th, Op. 28). Even more impressive was, again, his interpretation of nocturne in C minor (Op. 48 No. 1) in the
        second stage.
    </p>

    <SubChapter name="Adam Kałduński" />

    <p>
        <a href="https://www.chopincompetition.pl/en/competitors/835">Adam Kałduński</a> (Poland) was fenomenal! Adam
        seemed to perform in natural way, with relaxed hands and body. I think he really expressed his original style
        and interpretation of playing Chopin. He didn't compromise on his style in face of the competition. At least
        that was my impression. As far as I know Adam was the only participant who prepared the whole program without
        direct supervision of a expierienced teacher. For the last 2-3 years he was preparing for the competition on
        his own. He was recording himself and analyzing those recordings. I think that approach really paid off in
        terms of developing his own style and interpretation.
    </p>

    <p>
        His interpretations in the first stage were excellent. Starting from nocturne in C minor (Op. 48 No. 1),
        through very challenging Winter Wind etude (Op. 25 No. 11) to the ballade in F minor (Op. 52). I was very happy
        when he advanced to the second stage.
    </p>

    <p>
        In the second stage Adam played (required) polonese in A-flat major (Op. 53, Heroic) and the full opus (28th)
        of preludes. I was amazed by his performance of preludes. I'm glad he played all of them. In my opinion his
        articulation of the left hand in the D minor prelude (No. 24) was very original and impressive. Perhaps not
        conventional, but very interesting. It's such a pitty he didn't advance to at least the third stage.
    </p>

    <SubChapter name="David Khrikuli" />

    <p>
        <a href="https://www.chopincompetition.pl/en/competitors/700">David Khrikuli</a> (Georgia) got my attention
        already in the first stage by playing C major etude (Op. 10 No. 1) and fantasy in F minor (Op. 49). I'd say his
        style is more on the bold and energetic side, though there is no lack of sensitivity in his playing.
    </p>

    <p>
        David's second stage program was insane! He played polonaise in F-sharp minor (Op. 44), which very well suited
        his style, the full opus of preludes and third scherzo in C-sharp minor (Op. 39). It was over 51 minutes of
        very challenging pieces which required great endurance and variety of expression and touch techniques. I was
        very impressed by his performance.
    </p>

    <p>
        In the third stage I especially liked his interpretation of the sonata No.2 in B-flat minor (Op. 35) and forth
        scherzo in E major (Op. 54). His advancement to the final stage was well deserved. Congratulations to David!
    </p>

    <SubChapter name="Tianyao Lyu" />

    <p>
        <a href="https://www.chopincompetition.pl/en/competitors/732">Tianyao Lyu</a> (China) is a very young pianist.
        She celebrated her 17th birthday exactly on 21st October 2025 - the date of the first Prizes-Winners concert.
        Despite her young age she got the fourth prize in the competition! Impressive.
    </p>

    <p>
        Regarding my personal impressions, I liked her interpretations, but she didn't really caugh my attention during
        the first three stages. She plays definitely very well, but for me personally it wasn't the right match. That
        was true until I heard her performance of the E minor concert (Op. 11) in the final stage. I cannot even say
        why it sounded so good, but for me it was definitely the best performance of a concert in the whole competition
        and in fact she got the special prize for the best performance of a concert. Well deserved.
        Congratulations to Tianyao and I think we will hear more from her in the future!
    </p>

    <SubChapter name="Piotr Pawlak" />

    <p>
        <a href="https://www.chopincompetition.pl/en/competitors/843">Piotr Pawlak</a> (Poland) was my personal
        favorite and the candidate for the first prize. He already caught my attention before the competition even
        started, when I heard that besides being a pianist, he is also working on his PhD in mathematics.
    </p>

    <p>
        I was amazed when he performed, in the first stage, etude in thirds (Op. 25 No. 6), then nocture in C minor
        (Op. 48 No. 1) and fantasy in F minor (Op. 49). His technique is fenomenal, his touch clear, precise and
        natural. The first stage was just a warm-up for him!
    </p>

    <p>
        Piotr choose very interesting and unique program for the second stage. He played:
        <ul>
            <li>Andante spianato and Grande Polonaise Brillante in E flat major, Op. 22.</li>
            <li>Preludes Op. 28 from No. 1 to No. 12.</li>
            <li>Fantasy-Impromptu in C sharp minor, Op. 66.</li>
            <li>Prelude in C sharp minor, Op. 45.</li>
            <li>Allegro de concert in A major, Op. 46.</li>
        </ul>

        It was over 52 minutes of very challenging pieces. His interpretation of the polonaise was outstanding. Also
        the allegro de concert has never been performed during the Chopin Competition before. Very interesting choice.
        I very much enjoyed his performance of the preludes, especially the No. 8 in F-sharp minor and No. 12 in G-sharp
        minor.
    </p>

    <p>
        In the third stage Piotr also chose very interesting program, which included Rondo à la Krakowiak in F major,
        Op. 14, which wasn't played by any other participant in this edition of the competition. Playing such
        early-opus, joyful and energetic piece in the context of the third stage of the competition was very
        refreshing. In this stage he also performed third sonata in B minor (Op. 58). It was very impressive. I
        especially liked his take on the finale.
    </p>

    <p>
        Unfortunately Piotr didn't advance to the final stage. I was very disappointed. In my opinion he was one of the
        best pianists in the competition. Piotr definitely earned recognition and popularity from the audience. It's a
        shame we didn't get to hear him performing a concert in the final stage. Nevertheless, congratulations to Piotr
        for great performance and representing Poland so well! All the best in the future!
    </p>


    <SubChapter name="Random observations" />

    <p>
        <ul>
            <li>
                Many people played Barcarolle in F-sharp minor, Op. 60 in the first round. I'm wondering whenever it's
                because Garrick Ohlsson said it's one of his favorite Chopin pieces.
            </li>

            <li>

                Kevin Chen played all etudes from Op. 10 in the second round, as optional pieces, they were not
                required at this stage. Flex.
                <a href="https://www.youtube.com/watch?v=MsaCHVBpGvI&t=917s">Recording</a>.

            </li>
        </ul>
    </p>

    <Chapter name="New Discoveries" id="new-discoveries" />
    <p>
        During the competition I discovered few new to me Chopin compositions, which I really liked. Some of them I
        heard but rediscovered with new appreciation. Here's the list:

        <ul>

            <li>
                <strong>Fantasy in F minor, Op. 49</strong> - many participants has chosen to play this piece instead of a ballad in the
                first round. I knew the overall melody of the piece, but during the competition I rediscovered this
                composition. I really liked it.
            </li>

            <li>
                <strong>Polonaise in F-sharp minor, Op. 44</strong> - before the competition I haven't really listened
                to polonaises or mazurkas that much. Not sure why. That polonaise in F-sharp minor really caught my
                attention.
            </li>

            <li>
                <strong>Sonata No.3 in B minor, Op.58</strong> - I knew that piece before the competition, but not very
                well. Hearing it performed by many great pianists during the competition made me appreciate it much
                more. I especially liked the finale movement.
            </li>

            <li>
                <strong>Rondo à la Krakowiak in F major, Op. 14</strong> - I think I've never heard the full piece
                until Piotr Pawlak (🐐) played it in the <a
                    href="https://www.youtube.com/watch?v=OiA9HGAeVl4&list=RDOiA9HGAeVl4&index=1&t=5s">third stage</a>
                as the first piece in the program. I really liked it. It's so joyful and energetic, very rare for
                Chopin. One can tell it's from one of the early works of Chopin. It was so refreshing to hear it in the
                context of the competition.
            </li>

        </ul>
    </p>

    <Chapter name="Controversy" id="controversy" />
    <p>
        There was some controversy regarding marks given by jury members to some participants. It seems there was a
        difference of opinions and points given by jury members. Even to the point, that Garrick Ohlsson, the chairman
        of the jury, skipped announcing candidates which get into third stage. This topic alone could be a subject of a
        separate post. In here I'm just pointing there was some controversy when results were announced after each stage.
    </p>

    <p>
        Till now I haven't mentioned about Eric Lu, the winner of the competition. Honestly, I wasn't very impressed by
        his performances. Don't get me wrong, he is a great pianist, but for me personally there were other
        participants who played better and more interestingly. Eric's style is very bland and safe. I was expecting more from
        him. Nevertheless, congratulations to Eric for winning the competition!
    </p>


    <Chapter name="Summary" id="summary" />

    <p>
        It was fantastic three weeks filled with great music, amazing interpretations and new discoveries. I'm grateful
        I could experience it live, even though I couldn't get tickets for the main competition events. The "Between
        Stages" concerts were a great idea and I'm glad I could attend them. I'm also glad I get to know many new young
        and talented pianists. Expieriencing all of that pushed me even deeper into learning and practicing piano as an
        amateur adult. I cannot wait for the next Chopin Competition in five years time!
    </p>

</Post>
