---
import Post from "../layouts/Post.astro";
import PostTitle from "../components/PostTitle.astro";
import Chapter from "../components/Chapter.astro";
import Image from "../components/Image.astro";
import Table from "../components/Table.astro";
import Latex from "../components/Latex.astro";
import { Code } from 'astro:components';
---

<Post title="Go database/sql vs jmoiron/sqlx reading benchmark">
  <PostTitle
    title="Go database/sql vs jmoiron/sqlx reading benchmark"
    date="2019-09-05"
  />

  <Chapter name="Intro" id="intro" />
  <p>
    While building most of projects or apps it is very common to read from a
    database. In go standard way to do that is by using 
    <a href="https://golang.org/pkg/database/sql/">database/sql</a> standard library. 
    To illustrate how it can be done let's load from database a bunch of
    <code>Points</code> which are slice of <code>Point</code>s defined as follows
  </p>

  <Code lang="go" theme="dark-plus" code={`type Point struct {
    X int
    Y float64
}

type Points []Point`} />

  <p>
    Next listening contains definition of function <code>ReadPoints</code> which for existing
    <a href="https://golang.org/pkg/database/sql/#DB"><code>*sql.DB</code></a> database connection reads 
    <code>Points</code>. It tries to execute SQL query passed as string from function (not 
    listed) <code>PointsQuery</code>. Then slice for results is created and in <code>for</code> loop 
    there is reading row-per-row and writing points into <code>points</code> slice.
  </p>

  <Code lang="go" theme="dark-plus" code={`func ReadPoints(dbConn *sql.DB) Points {
    rows, qErr := dbConn.Query(PointsQuery())
    if qErr != nil {
        fmt.Println("Couldn't execute the query")
    }
    defer rows.Close()

    points := make(Points, 0, 10000)
    var (
        x int
        y float64
    )

    for rows.Next() {
        rows.Scan(&x, &y)
        points = append(points, Point{x, y})
    }
    return points
}`} />

  <p>
    This implementation of reading <code>Points</code> is independent of specific database. It
    is based only on <code>database/sql</code> package and doesn't depends on specific database 
    driver.
  </p>

  <p>
    There is nothing wrong with this approach but it could be a bit tedious in case when
    you have to read dozens or even hundreds of queries from the database. In this
    case one usually creates one file per reading containing definition of the type for
    query result, definition for query and reading function. Is there any more compact
    solution? It would be great if something similar to
    <a href="https://golang.org/pkg/encoding/json/#Unmarshal"><code>json.Unmarshal</code></a>, which can
    use struct's tags to read and writes JSONs, exists. Fortunately there is 
    <a href="https://github.com/jmoiron/sqlx"><code>jmoiron/sqlx</code> package</a>.
  </p>

  <Chapter name="jmoiron/sqlx package" id="sqlx-package" />
  <p>
    Package <code>sqlx</code> is open-source and MIT-licensed go package created to extend
    functionalities from standard <code>database/sql</code> package.
  </p>

  <blockquote>
    <p>
      sqlx is a library which provides a set of extensions on go's standard 
      <code>database/sql</code> library. The sqlx versions of <code>sql.DB</code>, <code>sql.TX</code>, <code>sql.Stmt</code>, et al. all 
      leave the underlying interfaces untouched, so that their interfaces are a 
      superset on the standard ones. This makes it relatively painless to integrate 
      existing codebases using <code>database/sql</code> with sqlx.
    </p>
    <footer>— sqlx README</footer>
  </blockquote>

  <p>
    Regarding reading from database we are especially interested in
    <a href="https://godoc.org/github.com/jmoiron/sqlx#DB.Select"><code>sqlx.Select</code></a>
    function. To perform reading <code>Points</code> using this function we have to add 
    <a href="https://stackoverflow.com/questions/10858787/what-are-the-uses-for-tags-in-go">tags</a> 
    in <code>Point</code> (assuming query contains column names "pointX" and "pointY") structure 
    as follows
  </p>

  <Code lang="go" theme="dark-plus" code={`type Point struct {
	X int     ${'`'}db:"pointX"${'`'}
	Y float64 ${'`'}db:"pointY"${'`'}
}`} />

  <p>
    Now we can implement alternative (compact) version of function <code>ReadPoints</code>
    using package <code>sqlx</code>. This version creates new slice of points, passes it into
    <code>sqlx.Select</code> function together with the query to read points from database.
  </p>

  <Code lang="go" theme="dark-plus" code={`func ReadPointsSQLX(dbConn *sqlx.DB) Points {
    points := make(Points, 0, 10000)

    err := sqlx.Select(&points, PointsQuery())
    if err != nil {
        fmt.Println("Error while reading Points.")
    }

    return points
}`} />

  <p>
    Obviously <code>sqlx.Select</code> uses <a href="https://golang.org/pkg/reflect/">reflection</a>
    to deal with its input data (passes as <code>interface{}</code>). Therefore my question is
    <strong>How much do we pay for runtime overhead</strong> using package <code>sqlx</code> instead of
    standard approach? I want to answer this question by performing series of
    benchmarks.
  </p>

  <Chapter name="Benchmark methodology" id="benchmark-methodology" />
  <p>
    My first attempt to perform this benchmark was by using standard <code>go test -bench</code>
    benchmark. It was somehow ok but it gave me only average time of reading. There 
    was also difference if I would benchmark standard approach first then <code>sqlx</code> or
    vice versa.
  </p>

  <p>
    We have to keep in mind that our benchmark depends on database and its current
    state. To perform faithful benchmark I've proposed the following algorithm:
  </p>

  <ol>
    <li>Choose first method (standard vs <code>sqlx</code>) of reading at random (with equal
      distribution)</li>
    <li>Perform first method reading</li>
    <li>Perform second method reading</li>
    <li>Save statistics</li>
    <li>Wait for few seconds</li>
    <li>Repeat from 1.</li>
  </ol>

  <p>
    So this algorithm performs reading using both methods (sometimes in different 
    order) in a chunk, then waits. In my opinion this approach assures that both
    single reading are performed on database with its similar state. In results I've
    also skipped first five measurements treating it as a warm-up.
  </p>

  <p>
    This algorithm was applied for query which returns <code>1k, 10k, 100k, 1mil and
    10mil</code> <code>Points</code>, 95 times for each case. For further comparison this procedure
    was also applied to extended <code>Point</code>s with ten fields (4 x <code>int</code>, 3 x <code>string</code>,
    3 x <code>float64</code>) instead of two.
  </p>

  <p>
    In <a href="#appendix">Appendix</a> there is description of environment I've used to
    perform the following results.
  </p>

  <Chapter name="Benchmark results" id="benchmark-results" />
  <p>
    Raw benchmark results are composed of two files 
    <a href="https://github.com/DSkrzypiec/blogSourceCodes/blob/master/20190823_GoSqlSqlx/Results/BenchResults.txt">BenchResults.txt</a>
    and
    <a href="https://github.com/DSkrzypiec/blogSourceCodes/blob/master/20190823_GoSqlSqlx/Results/BenchResults_TenCols.txt">BenchResults_TenCols.txt</a>
    for two column case and ten column case respectively. Time in those files is
    presented in nanoseconds. To reasonably compare overhead of <code>sqlx</code> reading 
    over standard one we should focus on percentage difference (<code>Diff perc</code>) 
    defined as
  </p>

  <Latex formula="\\frac{time(sqlx) - time(std)}{time(sqlx)}" displayMode={true} />

  <p>
    The following two tables presents average (from 95 measurements) reading time
    for <code>database/sql</code> and <code>sqlx</code> package expressed in seconds and theirs percentage
    difference.
  </p>

  <p><strong>Results for 2 columns</strong></p>
  <Table
    headers={["#Rows", "Avg sql time [s]", "Avg sqlx time [s]", "Diff perc"]}
    data={[
      ["1 000", "0.0046", "0.0049", "6.80%"],
      ["10 000", "0.0228", "0.0237", "3.89%"],
      ["100 000", "0.1992", "0.2021", "1.42%"],
      ["1 000 000", "1.5478", "1.5529", "0.33%"],
      ["10 000 000", "25.7208", "27.1226", "5.17%"]
    ]}
    caption="Benchmark results for 2 columns"
  />

  <p><strong>Results for 10 columns</strong></p>
  <Table
    headers={["#Rows", "Avg sql time [s]", "Avg sqlx time [s]", "Diff perc"]}
    data={[
      ["1 000", "0.0096", "0.0100", "3.52%"],
      ["10 000", "0.0557", "0.0587", "5.15%"],
      ["100 000", "0.4968", "0.5099", "2.56%"],
      ["1 000 000", "6.2670", "6.4906", "3.44%"],
      ["10 000 000", "75.9548", "79.2614", "4.17%"]
    ]}
    caption="Benchmark results for 10 columns"
  />

  <p>
    Figures <em>Figure 1</em> and <em>Figure 2</em> displays distribution of percentage 
    difference for each number of rows with distinction whenever standard
    <code>database/sql</code> reading was first or second in benchmark algorithm. As you can
    see there is significant difference between case when standard reading was first
    and the case where it was executed second. When standard reading was executed
    first then usually <code>sqlx</code> reading was faster! It is caused probably by database
    caching rather then unusual behavior of go code. Because of this in mentioned
    benchmark algorithm order of execution was sampled with equal distribution to
    got averaged unbiased results.
  </p>

  <p>
    Another interesting thing is that with number of rows percentage difference goes
    closer to 0 and variance decreases.
  </p>

  <Image src="/gosqlstdsqlx/BenchmarkResults2columns.jpg" alt="Boxplot of percentage difference in reading time by number of rows - case for two columns Points." caption="Figure 1: Boxplot of percentage difference in reading time by number of rows - case for two columns Points." />

  <Image src="/gosqlstdsqlx/BenchmarkResults10columns.jpg" alt="Boxplot of percentage difference in reading time by number of rows - case for ten columns Points." caption="Figure 2: Boxplot of percentage difference in reading time by number of rows - case for ten columns Points." />

  <p>
    Using standard <code>go test -bench</code> benchmark we can see that <code>sqlx.Select</code> also
    does more number of allocations. For reading <code>10 000</code> of rows benchmark
    statistics are displayed below:
  </p>

  <Code lang="bash" theme="dark-plus" code={`go test -bench=. -benchtime=30s -benchmem`} />

  <Image src="/gosqlstdsqlx/goTestBench.jpg" alt="Result of go test bench command for 10k rows reading." caption="Result of go test bench command for 10k rows reading." />

  <Chapter name="Summary" id="summary" />
  <p>
    Based on benchmark results we can answer question about overhead - it's <strong>roughly 
    5%</strong> overhead of database reading using <code>sqlx</code> over standard <code>database/sql</code> package. 
    Performing the same benchmark in another environment might give slightly different 
    result but I think it shouldn't differ significantly and stays around 5%.
  </p>

  <Chapter name="Appendix" id="appendix" />
  <ul>
    <li><a href="https://github.com/DSkrzypiec/blogSourceCodes/tree/master/20190823_GoSqlSqlx">Link to benchmark source codes</a></li>
    <li>OS - <code>Microsoft Windows 10 Home 10.0 Build 18362</code></li>
    <li>Processor - <code>Intel Core i5-7200U, 2.50Ghz 2.71Ghz</code></li>
    <li>Hard disk - <code>LITE-ON CB1-SD256 (SDD)</code></li>
    <li>Database - <code>PostreSQL 10.10, compiled by Visual C++ build 1800, 64-bit</code></li>
    <li>go version - <code>go1.13beta1 windows/amd64</code></li>
    <li>go database driver package - <code>github.com/lib/pq</code></li>
  </ul>

</Post>
