---
import Post from "../layouts/Post.astro";
import PostTitle from "../components/PostTitle.astro";
import Chapter from "../components/Chapter.astro";
import Image from "../components/Image.astro";
import { Code } from 'astro:components';
---

<Post title="Summary of 2021">
  <PostTitle
    title="Summary of 2021"
    date="2021-12-30"
  />

  <Chapter name="Started jogging" id="started-jogging" />
  <p>
    In January, after a long pandemic home isolation I've started jogging. For
    my whole life I always hate jogging. I love most sports but running was
    something else. After almost a year in pandemic with gyms being closed and
    almost no going outside I though that I'll give it a try.
  </p>

  <p>
    At first two tries I couldn't run 500 meters without a break for catching a
    breath. Unexpectedly body adaptation was very quick! After two weeks I could
    run over 1500m without any break. That was very motivating.
  </p>

  <p>
    I've kept running through the whole year. I started to like jogging after the
    first two or three weeks of doing it, just when my endurance increased to the
    level when jogging wasn't dying for me.
  </p>

  <Chapter name="My first MacBook Air (M1)" id="macbook-air-m1" />
  <p>
    I've never been much of an Apple fan. At the end of 2020 Apple released the
    first Mac Book with their own processor - M1. Reviews were amazing. I was very
    interested. In March 2021 I decided to buy MacBook Air M1. Up to this point
    I'm very happy with this choice. Performance is great, battery life is amazing
    (still around 15-20h) and general build quality is beyond my expectations.
  </p>

  <Chapter name="Still trying to learn Russian" id="learning-russian" />
  <p>
    For the first seven months of 2021 I continued my path in learning Russian.
    My main source was still Duolingo. At some point I've realized that I need
    face-to-face or more traditional lessons because I couldn't properly learn
    pronunciation based only on the app. Shortly after this realization I've
    changed a job and I choose to take a little break from Russian till I've got
    comfortable in a new job.
  </p>

  <p>
    Surely I want to continue learning Russian but I think I'll adjust a bit my
    methods in 2022.
  </p>

  <Chapter name="I have left PwC and joined Allegro Pay" id="left-pwc-joined-allegro" />
  <p>
    In August 2021 <a href="https://dskrzypiec.dev/leaving-pwc">I left PwC</a> and I've joined
    Allegro Pay DEA team as senior data engineer. Allegro Pay is a sub company of
    <a href="https://about.allegro.eu/who-we-are/at-a-glance">Allegro</a> the biggest
    e-commerce in Poland (and in central Europe) which is responsible for its
    financial products.
  </p>

  <Chapter name="I run my first Runmageddon" id="first-runmageddon" />
  <p>
    On September, 4th I've run my first <a href="https://www.runmageddon.pl">Runmageddon</a>.
    Distance was 5 kilometers with over 30 challenges. It took me over two hours to
    finish the run.
  </p>

  <p>
    There was many interesting challenges during the run like running through cold
    <a href="https://en.wikipedia.org/wiki/Baltic_Sea">Baltic Sea</a>, then crawling for 500
    meters under the barbed wire and diving into the ice box.
  </p>

  <p>
    I really liked the experience. It was an interesting training but done in very
    different way. I'll definitely do it again in 2022.
  </p>

  <Chapter name="Pull-up bar" id="pull-up-bar" />
  <Image src="/year2021/pullup_bar.jpg" alt="Pull-up bar setup" caption="Pull-up bar setup" />

  <p>
    My main conclusion after Runmageddon was that I have to work on my pull ups.
    Indirect consequence of this was setting up a pull up bar in my hall two weeks
    after Runmageddon. It was my best decision made in entire 2021!
  </p>

  <p>
    Having a pull up bar in my home enabled daily pull ups session. At the
    beginning I cannot do even single proper pull up (without rubber band). After
    two months of trainings I now can do few (2-4) series of 4-7 pull ups and chin
    ups with proper form.
  </p>

  <p>
    Having a pull up bar also direct my interests in calisthenics. At this point I
    can do full body workout at home. I'll continue my journey with calisthenics in
    2022 for sure.
  </p>

  <Chapter name="Summary" id="summary" />
  <p>
    The year 2021 I can sum up as me getting into shape and changing a job. I lost
    around 15kg (33lb). I can run over 5km. I can perform over 5 proper pull ups.
    In October 2022 I'll enter my thirties. I'd like to do it being fit, strong and
    flexible both mentally and physically.
  </p>

</Post>

