---
import Post from "../layouts/Post.astro";
import PostTitle from "../components/PostTitle.astro";
import Chapter from "../components/Chapter.astro";
import Subchapter from "../components/Subchapter.astro";
import Image from "../components/Image.astro";
---

<Post title="Summary of 2025">
  <PostTitle
    title="Summary of 2025"
    date="2026-01-01"
  />

  <Chapter name="Intro" id="intro" />
  <p>
    It's time to summarize the year 2025! For additional context, you might want to check the
    <a href="/year2024">summary of 2024</a>.
  </p>

  <Chapter name="ConnectyAI" id="connectyai" />

  <Image src="/year2025/github.png" alt="GitHub contributions 2025" caption="GitHub Contributions" />

  <p>
    <a href="https://connectyai.com">ConnectyAI</a> is the startup I joined in September 2024. After years of working
    in relatively large and established companies such as PwC, Allegro, and Point72, this is my first real experience
    in the startup world. It was a deliberate decision — I knew it would require a high level of commitment. And that
    has indeed been the case. As a result, the main thing that occupied my time throughout the year 2025 was my work at
    ConnectyAI. You can clearly see it in the number of posts I wrote in 2025 (almost none) and in the fact that I
    didn’t work on any side projects.
  </p>

  <p>
    I mention this primarily in the context of summarizing the year. I will definitely write a dedicated post in the
    future about my experience, thoughts, and reflections on working at ConnectyAI.
  </p>

  <p>
    BTW, that one week of no contributions in August was due to me being on vacation in Sweden. It was very lovely!
  </p>

  <Chapter name="Piano" id="piano" />
  <p>
    I'm happy to report that I've been playing the piano regularly throughout the year 2025. I'm still very excited
    about it as a hobby. I've definitely improved in the following areas:
  </p>

  <ul>
    <li>General piano playing techniques.</li>
    <li>Sight-reading.</li>
    <li>I've learned most of the tonal keys (all majors and over half of minors).</li>
    <li>Hand independence.</li>
  </ul>

  <p>
    There is still a very long way to go, but overall I'm happy about the progress.
  </p>

  <p>
    In 2025 I've learned (or been practicing) the following pieces:
  </p>

  <ul>
      <li>"Polskie Drogi" (Polish Ways) - Andrzej Kurylewicz (1975)</li>
      <li>Prelude in E minor (No. 4) Op. 28 - Fryderyk Chopin</li>
      <li>Prelude in C minor (No. 20) Op. 28 - Fryderyk Chopin</li>
      <li>
        "La fille aux cheveux de lin", prelude in G-flat major - Claude Debussy
        (paused, 27 out of 43 bars at the moment)
      </li>
      <li>
        Minuet in D minor, BWV Anh. 132 - J. S. Bach
      </li>
      <li>
        March in D major, BWV Anh. 122 - J. S. Bach (in progress currently)
      </li>
  </ul>

  <p>
    In December I've been playing Polish Christmas carols. It was great fun!
  </p>

  <Subchapter name="New piano" id="new-piano"/>
  <Image src="/year2025/piano_yamaha.jpg" alt="New piano" caption="New piano" />

  <p>
    During my piano lessons, I play on a classical grand piano (Kawai). Even after the first 2-3 lessons I noticed the
    difference between playing a classical instrument and its digital equivalent. My initial poor techniques were
    exposed more visibly on the classical instrument. At home I couldn't experience those subtle differences. Then I
    started thinking about getting a higher-end digital piano, since most of my practice happens at night.
  </p>

  <p>
    On a Saturday in May, I went with a friend to music store. After testing several digital pianos for 2-3 hours we
    didn't find anything significantly better than what I had at home. I was a bit disappointed. Fortunately, just
    before we left, someone let us know that there is another kind of piano, so called silent piano, which is a
    classical piano with ability to plug in headphones when silent option is needed. That sounded perfect! And the
    price wasn't that much higher, comparing to higher-end purely digital pianos. Then we tested those silent pianos
    (mostly from Yamaha) and they were great! I thought about it for 2-3 days and ended up getting Yamaha B1 with
    silent piano and TransAcoustic version.
  </p>

  <p>
    I'm very happy with the change. I like the feeling of the keys and the action of the mechanism and the sound of
    the instrument. It brings me a lot of joy.
  </p>

  <Subchapter name="The first public performance" id="piano-perf" />
  <p>
    The music school where I initially attended lessons has a tradition of organizing concerts at the end of the summer
    semester, around mid-June. Participation is optional, but my teacher strongly encouraged me to take part. I thought
    it was actually a great opportunity to test myself. Additionally, the very fact of a public performance was highly
    motivating for my practice.
  </p>

  <p>
    I had two pieces planned for the performance: "Polskie Drogi" by Andrzej Kurylewicz and the Prelude in E minor, Op.
    28 No. 4 by Fryderyk Chopin. When I arrived at the concert venue, I realized that I had forgotten the first two
    bars of the first piece. I completely forgot how to start "Polskie Drogi". On top of that, I hadn’t brought the
    sheet music for that piece with me! I started to panic a bit… but I tried to calm myself down, thinking that once I
    sat at the piano, muscle memory would help me. Unfortunately, that didn’t happen. So I apologized to the audience
    and started with the Prelude in E minor instead. Fortunately, I had the sheet music for that piece with me. The
    performance went well, and I was satisfied with it.
  </p>

  <p>
    It was a very educational experience. First of all, it showed me that despite having a high resistance to stress at
    work, public performances are something different altogether and require slightly different preparation. Secondly,
    I realized that a piece played well at home is nowhere near being ready, in terms of preparation, to be presented
    publicly. All in all, it was a very interesting experience, and I’m glad I decided to go through with it.
  </p>


  <Subchapter name="International Chopin Competition"/>
  <p>
    The year 2025 was also the year of the 19th International Fryderyk Chopin Piano Competition. At the turn of April
    and May, I had the opportunity to attend the preliminary rounds of the competition at the National Philharmonic in
    Warsaw. The preliminaries took place in the newly renovated chamber hall. The required program consisted of two or
    three études, a nocturne, a mazurka, and a scherzo. Tickets covered all performances within either the morning or
    evening session, each lasting around four hours. I enjoyed it very much! Those four hours passed in the blink of an
    eye.
  </p>

  <p>
    I wrote down my impressions from the main stage of the competition here:
    <a href="/chopin19">19th International Fryderyk Chopin Piano Competition</a>.
  </p>


  <Chapter name="Reflection on Goals for 2025", id="reflection-goals-2025" />

  <Image src="/year2025/cycling_stats.jpg" alt="Cycling stats for 2025" caption="Cycling stats for 2025" />

  <p>
    Let's reflect on <a href="/year2024#goals-2025">the goals</a> I set for 2025:
  </p>

  <ul>
    <li>I think my effort at ConnectyAI this year was as high as I could make it.</li>

    <li>
      I cycled regularly, but just a bit less than last year. I didn't make it to 3000 km, but it was still fairly
      consistent.
    </li>

    <li>I've maintained consistent piano practice throughout the year.</li>

    <li>
      Studying quantum mechanics was not pursued this year due to time constraints at work.
    </li>

    <li>
      Regarding learning new technologies, I'd say that working in a startup environment exposed me to many technical
      challenges and solutions that were new to me. So, in a way, this goal was achieved.
    </li>

    <li>
      I didn't work on ppacer at all in 2025, as ConnectyAI took all of my available time and energy. However, I do have a
      few reflections on the initial design of ppacer. I hope to one day get back to it and implement a proper, reliable
      scheduler.
    </li>
  </ul>

  <Chapter name="Goals for 2026" id="goals-2026" />
  <ul>
    <li>Once again, put my best effort and dedication into ConnectyAI.</li>
    <li>Continue consistent piano practice.</li>
    <li>Learn TUI development in Go using <a href="https://github.com/charmbracelet/bubbletea">Bubble Tea</a>. Make at least one small side project with it.</li>
    <li>Write more blog posts - at least 4-5 in 2026, not including annual summary.</li>
  </ul>

  <p>
    In 2025 I've written only one blog post (this one excluded). My excuse was that ConnectyAI took all of my time and
    energy. While that's true, I still need to find some time for writing. I think I need it. Even spending 10-15 minutes a
    week should be enough to plan and write a post every couple of months. I'll try to make it happen in 2026.
  </p>

  <p>
    As for learning quantum mechanics, I think I need to postpone it for now. It's definitely still on my list, but
    it needs to wait for the right time.
  </p>

  <p>
    I'm also not setting cycling as a goal for 2026. I think it has become a habit by now, so it doesn't need to be a formal goal.
    Doing something in range of 2000-3000 km per year should happen naturally (mostly city cycling).
  </p>

  <Chapter name="Summary" id="summary" />
  <p>
    Looking back, 2025 was a year largely defined by focus and commitment. Most of my time and energy went into work at
    ConnectyAI. I'm glad I was able to keep up with work at the startup, spending time with my family, practicing
    the piano and a few other smaller activities. Let's see what 2026 will bring!
  </p>
</Post>
