---
import Post from "../layouts/Post.astro";
import PostTitle from "../components/PostTitle.astro";
import Chapter from "../components/Chapter.astro";
import Image from "../components/Image.astro";
---

<Post title="Summary of 2024">
  <PostTitle
    title="Summary of 2024"
    date="2024-12-30"
  />

  <Chapter name="Intro" id="intro" />
  <p>
    Time flies! It's time to summarize the year 2024. For additional context you
    might want to check the <a href="https://dskrzypiec.dev/year2023">summary of 2023</a>.
  </p>

  <Chapter name="Running paused" id="running-paused" />
  <p>
    The beginning of 2024 (January, February) was a period of intense running
    training in preparation for the Warsaw Half Marathon. I intended to achieve a
    time below 2 hours (around 1:50) in this race. Unfortunately, at the beginning
    of March, pain around the knee and tension in the quadriceps muscle prevented
    further training. After several visits to the physiotherapist and a two-week
    break from running, I managed to get rid of the pain during normal functioning,
    but after running, especially longer distances, the pain returned.
  </p>

  <Image src="/year2024/runs.jpg" alt="Running statistics" caption="Running statistics for 2024 - 34 workouts, 303.8km total distance" />

  <p>
    Overall I'm happy with the progress I made in the beginning of 2024. I
    completed over 30 runs, covering a total distance of more than 300 km with much
    better pace than in 2023. All of that just on the first two months of 2024.
  </p>

  <p>
    It was rather a minor injury caused by excessive tension in the quadriceps
    muscle, which led to the shortening of tendons around the knee. I didn't want
    it to turn into something more serious, so I decided to take a break from
    running. Of course, I have only myself to blame. The accumulated muscle tension
    resulted from intense training but a lack of rolling and stretching.
  </p>

  <p>
    However, to not completely lose my fitness, I decided to return to regular
    cycling, which put much less strain on the mentioned knee.
  </p>

  <Chapter name="New fixed gear bike" id="new-fixed-gear-bike" />
  <Image src="/year2024/newfixie.jpg" alt="New fixed gear bike" caption="My new 2024 Cinelli Gazzetta fixed gear bike" />

  <p>
    During my studies and my time at PwC, I rode a fixed gear bike for several
    years. In March 2024, when I decided to return to cycling more seriously, I
    bought a new bike because the frame on my previous one was a bit too small.
  </p>

  <p>
    As the base for the new bike, I chose the new 2024 Cinelli Gazzetta. From the
    base offer, mainly the frame remained, as I decided to replace the following
    components:
  </p>

  <ul>
    <li>Wheels - Dia Compe hubs (fixed/fixed) with Araya SA-730 rims</li>
    <li>Bottom Bracket - Sugino BB-SG75 (NJS)</li>
    <li>Chainring - Sugino Zen 46T (NJS)</li>
    <li>Rear Cog - Shimano Dura Ace 14T (NJS)</li>
    <li>Chain - D.I.D Standard Track Chain</li>
    <li>Tires - Continental Ultra Sport 700x25</li>
    <li>Pedals - Shimano SPD PD-M540</li>
    <li>Saddle - Brooks B17</li>
    <li>Handlebar Grips - Slender Leather Brooks grips</li>
  </ul>

  <p>
    Kudos to the <a href="https://cech.bike">Cech</a> store for the availability of
    top-quality parts. As it turns out, it's not necessarily easy to buy Sugino and
    Shimano NJS parts in Europe.
  </p>

  <p>
    I am thrilled with the final result. The smoothness of the ride, especially the
    operation of the drivetrain, is indescribable. The Sugino BB + Zen chainring +
    DID chain + Dura Ace cog combo is the best I've ever experienced. The bike is
    quite light and very agile.
  </p>

  <Image src="/year2024/cycles.jpg" alt="Cycling statistics" caption="Cycling statistics for 2024 - nearly 3,750 km total distance" />

  <p>
    From the moment I assembled the new bike until the end of 2024, I managed to
    maintain regular cycling, even during the rainy autumn and colder winter
    periods. From March to the end of the year, I cycled nearly 3,750 km (2,330
    miles), making the bike my primary mode of transportation and a key part of my
    training and recreation. I hope that in the coming year, this part of my life
    will remain at least at the same level.
  </p>

  <Chapter name="I left Point72" id="left-point72" />
  <p>
    In June 2024, I was on the verge of burnout. As a result, I took two months of
    medical leave (thank you, Europe!) and subsequently ended my time at Point72
    after more than a year and a half.
  </p>

  <Chapter name="Releasing ppacer v0.0.1" id="releasing-ppacer" />
  <Image src="/year2024/ppacer_ff.jpg" alt="ppacer v0.0.1 release" caption="ppacer v0.0.1 release announcement" />

  <p>
    At the end of July I've released <a href="https://dskrzypiec.dev/ppacer001">ppacer v0.0.1</a>.
    I also presented it to my friends and family in mid-October.
  </p>

  <p>
    The work is still in progress, but I'm happy we have a basic working version
    with the UI.
  </p>

  <Chapter name="I've started learning piano" id="learning-piano" />
  <Image src="/year2024/pianonotes.jpg" alt="Piano learning" caption="Learning to play piano with Roland FP-30X" />

  <p>
    In September, I bought a Roland FP-30X digital piano and started learning to
    play. I had been planning to learn piano for several years but never got around
    to it. I began by reading about music notation theory and familiarizing myself
    with basic musical concepts. Before starting individual lessons, I practiced on
    my own for 3–4 weeks using the Simply Piano app.
  </p>

  <p>
    I really enjoy playing the piano. The combination of intellectual effort, motor
    skill practice, and the sound of the instrument is both enriching and
    satisfying. The ability to play familiar melodies is incredibly motivating.
  </p>

  <p>
    I try to play for at least 15 minutes a day and hope to maintain this routine
    in 2025.
  </p>

  <Chapter name="I've joined ConnectyAI" id="joined-connectyai" />
  <p>
    Starting in October 2024, I joined a startup –
    <a href="https://www.connectyai.com/">ConnectyAI</a> – as a founding engineer.
  </p>

  <p>
    At ConnectyAI, our mission is to empower data practitioners (analysts,
    engineers, PMs, etc.) with LLMs and AI agents that truly understand both data
    and business context, working seamlessly across the organization. While it
    might be simplified as "ChatGPT for data," it's much more than that.
  </p>

  <p>
    I am responsible for building the core backend and context engine services,
    infrastructure and managing operational database.
  </p>

  <p>
    There's no shortage of exciting and challenging problems to solve here! I hope
    we can create something truly valuable, and I'm very curious to see what 2025
    has in store for ConnectyAI.
  </p>

  <Chapter name="I made a knife" id="made-knife" />
  <p>
    <a href="https://dskrzypiec.dev/knife/">I made a knife</a>.
  </p>

  <Chapter name="Additional highlights" id="additional-highlights" />
  <ul>
    <li>In March, I took my mom for a 3-day trip to London.</li>
    <li>In September, I visited Copenhagen with my wife for a 3-day getaway without
    the kids (our first time traveling alone since our first child was born).</li>
    <li>In November, I attended WebSummit 2024 in Lisbon (with ConnectyAI).</li>
    <li>This year, I also started bouldering with my 6-year-old son, which has been a
    fun and rewarding activity for both of us.</li>
  </ul>

  <Chapter name="Reflection on Goals for 2024" id="reflection-goals-2024" />
  <p>
    Let's check to what extent the <a href="https://dskrzypiec.dev/year2023/#goals-for-2024">goals for
    2024</a> set at the end of 2023
    have been achieved.
  </p>

  <ul>
    <li>The running goals were not achieved due to a minor knee injury in March 2024.
    Despite this, training times for 10km and 15km runs indicated a time of
    1:50-1:55h for a half marathon. I consider this a significant progress, even
    though I unfortunately didn't manage to run an official half marathon.</li>
    <li>The goals related to ppacer were achieved, including work on the frontend.</li>
    <li>I started reading a textbook on quantum mechanics, but I'm still at an early
    stage. The goal has not been achieved but is in progress.</li>
  </ul>

  <Chapter name="Goals for 2025" id="goals-2025" />
  <ul>
    <li>Dedicate my best effort to ConnectyAI, striving to make it a successful startup.</li>
    <li>Cycle regularly, aiming for at least 3,000 km.</li>
    <li>Maintain a consistent piano practice, playing for at least 15 minutes a day.</li>
    <li>Continue reading on quantum mechanics.</li>
    <li>Learn new programming language (Zig?) or new technology.</li>
    <li>Keep working on ppacer, even if only a little (though this might be
    challenging with ConnectyAI taking priority).</li>
  </ul>

  <Chapter name="Summary" id="summary" />
  <p>
    2024 was a truly eventful year for me! I'm happy with the progress in all areas
    of my life. I'm looking forward to 2025 and hope it will be at least as
    exciting as 2024.
  </p>

</Post>
