---
import Post from "../../layouts/Post.astro";
import Chapter from "../../components/Chapter.astro";
---

<Post title="O mnie" altLocaleUrl="/about">
      <Chapter name="O tym blogu" id="about" />
      <p>
        Cześć! Nazywam się Damian Skrzypiec i to jest mój blog. Piszę głównie o
        matematyce i ogólnie o programowaniu.
      </p>

      <Chapter name="O mnie" id="about-me" />
      <p>
        Mieszkam w Warszawie. Jestem absolwentem matematyki, ale moim głównym
        zainteresowaniem jest programowanie i informatyka. Lubię statycznie
        typowane i kompilowane języki programowania oraz inżynierię danych. Mam
        doświadczenie w C#, Go i Scali. Bardzo lubię C++, ale niestety nie
        pracowałem w nim zawodowo. W dawnych czasach byłem biegły w R i data
        science. Wciąż dobrze radzę sobie z SQL-em. Potrafiłbym napisać
        tysiącwierszowe zapytania na kartce papieru bez błędu składniowego —
        czasem w wolnym czasie pracuję nad parserami SQL. Jestem użytkownikiem
        (Neo)Vima i zasadniczo żyję w terminalu, kiedy tylko mogę.
      </p>
      <p>
        Kiedyś byłem speedcuberem (WCA). Obecnie lubię układać kostkę 3x3x3 i
        5x5x5 podczas programowania, żeby ćwiczyć pamięć mięśniową i koncentrację.
      </p>
      <p>
        Przez pierwsze kilka lat kariery pracowałem w sektorze finansowym
        (dokładniej w ryzyku kredytowym), gdzie byłem analitykiem, data
        scientistem i backend developerem. W 2021 roku dołączyłem do Allegro
        Pay, spółki zależnej największego e-commerce w Polsce, jako senior data
        engineer. W drugiej połowie 2022 roku pracowałem w TCL Research Europe
        jako senior big data engineer, budując zagraniczną platformę big data
        dla TCL. W lutym 2023 roku wróciłem do świata finansów i dołączyłem do
        amerykańskiego funduszu hedgingowego Point72 jako software engineer w
        zespole Risk Technology, aby budować rozproszoną platformę analityczną
        dla zespołu ryzyka. We wrześniu 2024 roku dołączyłem do Connecty AI
        (startupu) jako founding engineer, aby budować produkt dostarczający
        bezpośrednich wglądów w dane przy użyciu LLM-ów i silnika kontekstu.
      </p>

      <Chapter name="Kontakt" id="contact" />
      <p>
        Jeśli masz jakieś pytania lub chcesz sprawdzić kod źródłowy do któregoś
        wpisu, oto mój e-mail i GitHub:
      </p>
      <ul>
        <li>E-mail: <a href="mailto:info@dskrzypiec.dev">info@dskrzypiec.dev</a></li>
        <li>GitHub: <a href="https://github.com/DSkrzypiec" target="_blank">github.com/DSkrzypiec</a></li>
      </ul>
</Post>
