---
import Post from "../../layouts/Post.astro";
import PostTitle from "../../components/PostTitle.astro";
import Chapter from "../../components/Chapter.astro";
import Image from "../../components/Image.astro";
---

<Post title="Warzenie piwa, a inżynieria oprogramowania" altLocaleUrl="/beer">
  <PostTitle
    title="Warzenie piwa, a inżynieria oprogramowania"
    date="2026-06-28"
  />

  <Image src="/beer/first_ollie.jpg" alt="First Ollie beer bottles" caption="Zabutelkowane First Ollie" />

  <Chapter name="Wstęp" id="intro" />
  <p>
    Zaczęło się od tego, że znajomy zaprosił mnie na posmakowanie piw, które uwarzył jego kolega w nowo założonym
    browarze. Byłem bardzo ciekawy. Piwa okazały się znakomite. Ten wieczór zainspirował mnie, żeby dowiedzieć się, jak
    wygląda proces warzenia piwa oraz spróbować zrobić swoje piwo w domu.
  </p>

  <p>
    Zacząłem więc od ogólnych filmów na YouTubie. Zapoznałem się z głównymi etapami warzenia piwa,
    składnikami oraz najczęściej używanymi metodami. Po zapoznaniu się z podstawami przeczytałem też książkę "Jak warzyć
    piwo" Johna Palmera.
  </p>


  <Chapter name="Jak powstaje piwo?" id="how" />
  <p>
    Wyjaśnię w bardzo dużym skrócie jak się robi piwo. Piwo zazwyczaj składa się z czterech składników: wody, słodów
    zbożowych, chmielu oraz drożdży. Słody to ziarna zbóż, które zaczęły kiełkować, ale w odpowiednim momencie zostały
    zatrzymane i wysuszone (aby zmaksymalizować skrobię w ziarnach). Te słody są odpowiednio mieszane w wodzie.
    Następnie gotujemy mieszaninę wraz z dodanym chmielem, aby mieć pewność, że w roztworze nie ma żadnych
    niepożądanych bakterii. Teraz najważniejsze. Po schłodzeniu roztworu dodajemy drożdże, które są
    jednokomórkowymi grzybami. Drożdże zjadają cukry z naszego roztworu i produkują z niego alkohol (etanol) oraz
    dwutlenek węgla. Tak w skrócie powstaje piwo.
  </p>

  <Chapter name="Dlaczego?" id="why" />
  <p>
    Moją inicjalną motywacją do spróbowania warzenia piwa w domu była chęć poznania samego procesu oraz ciekawość "jak
    daleko" takie piwo będzie odbiegało od piw ogólnodostępnych w sklepach czy barach. Kolejnym powodem była
    potencjalna możliwość dostosowania receptury do moich własnych preferencji. Coś unikalnego, czego nie da się kupić.
    Ponadto w tych czasach, kiedy niemal wszystkie artykuły spożywcze kupujemy w sklepach, fajnie jest mieć
    własnoręcznie zrobione "przetwory".
  </p>

  <Chapter name="Pierwsza warka" id="first" />
  <p>
    W aktualnych czasach naturalnym krokiem dla początkującego piwowara domowego jest użycie "brew kitu", czyli
    gotowego zestawu startowego, który zawiera wszystkie wymagane składniki. Taki właśnie był też mój pierwszy krok.
    Zamówiłem zestaw, z którego powinno wyjść piwo typu American Amber Ale.
  </p>

  <p>
    Poza samym zestawem, potrzebowałem jeszcze niezbędnych przyrządów, takich jak fermentor, wąż do rozlewania,
    glukoza, butelki, kapsle, kapslownica, itd. Szczęśliwie <a href="https://www.browamator.pl">Browamator</a> oferuje
    również zestawy startowe zawierające wymagane przyrządy. Właśnie od takiego gotowego zestawu zacząłem.
  </p>

  <p>
    Nadszedł dzień wstawienia pierwszej warki. W przypadku brew kitów, proces jest uproszczony. Wystarczy gotować
    przygotowane rozcieńczone ekstrakty, dodać chmiel, schłodzić i przelać do odkażonego fermentora. Kiedy temperatura
    w fermentorze spadła do około 19-20°C, dodałem drożdże i zamknąłem fermentor. Teraz nadszedł najtrudniejszy etap.
    Czekanie... Po około 10 dniach, zgodnie z instrukcją, dodałem dodatkową porcję chmielu do fermentora na kolejne 4
    dni (tak zwane "chmielenie na zimno").
  </p>

  <p>
    Po około dwóch tygodniach, pobrałem próbkę, aby upewnić się, że fermentacja się zakończyła (poprzez zmierzenie
    gęstości). Wynik był pozytywny, więc przyszedł czas na butelkowanie. Butelki zostały odkażone, a do każdej z nich
    dodałem około 4g glukozy. Glukoza jest potrzebna do refermentacji w butelkach, która spowoduje, że piwo będzie
    gazowane. Co trwa kolejne dwa tygodnie... Czekanie przy pierwszej warce było dosyć ciężkie. Zdecydowanie
    najtrudniejsza część procesu.
  </p>


  <p>
    Po około 10 dniach od butelkowania schłodziłem jedną butelkę na pierwszy test. Wynik był bardzo zadowalający! Piwo
    miało piękny bursztynowy kolor, stabilną pianę i wyczuwalny aromat chmielowy. W smaku było bardzo ciekawe.
    Pamiętam, że moja pierwsza myśl, to "to już jest lepsze niż większość piw dostępnych w sklepach".
    Byłem bardzo usatysfakcjonowany.
  </p>

  <Chapter name="Kolejne próby" id="next-rounds" />
  <p>
    Jak już wspominałem, podczas pierwszej warki było dosyć dużo czekania. Postanowiłem w międzyczasie uwarzyć ciemne
    delikatne oraz niskoalkoholowe piwo dla mojej żony. Coś w stylu Dark Mild Ale. W tym przypadku nadal użyłem
    ekstraktu, ale dodatkowo użyłem też dodatkowych słodów, które miały dodać ciemnego koloru oraz karmelowego posmaku.
  </p>

  <p>
    Wspomniane piwo dla żony było pierwszym eksperymentem, więc zrobiłem mniejszą warkę o objętości około 6 litrów.
    W związku z tym zostało mi całkiem sporo ekstraktu słodowego. Postanowiłem więc wstawić kolejną warkę.
    Tym razem wybór padł na jeden z moich ulubionych (na tamten czas) gatunków piwa, czyli Belgian Blond Ale.
    Okazało się, że to piwo ma całkiem prostą recepturę. Zatem moją trzecią warką było właśnie Belgian Blond Ale.
  </p>

  <p>
    Po pewnym czasie zdecydowałem się na kolejny krok - uwarzyć piwo z zacierania słodów. Można powiedzieć, że jest to
    już pełnoprawna metoda warzenia piwa, która jest używana w małych i dużych komercyjnych browarach. Chodzi o to, aby
    użyć słodów jęczmiennych, pszenicznych lub innych (zależy od gatunku piwa), a następnie utrzymać je w wodzie o
    ustalonej temperaturze oraz przez ustalony czas, tak aby zmienić skrobię w słodach w prostsze cukry
    fermentowalne, z którymi drożdże będą mogły sobie poradzić. Ze względu na fakt, że nie mam garnka o pojemności
    30 litrów lub większej, zrobiłem częściowe zacieranie (w 11 litrach), które następnie zostało uzupełnione
    ekstraktem, tak aby uzyskać pożądaną gęstość inicjalną (która wpływa na finalną zawartość alkoholu w piwie).
    Efekty tego warzenia ujawnią się w niedalekiej przyszłości, natomiast sam proces przebiegł pomyślnie.
  </p>

  <Chapter name="Efekty" id="results" />
  <p>
    W efekcie po prawie dwóch miesiącach i czterech warkach wyszło około 130 butelek piwa z czterech różnych gatunków.
    Dużą częścią tego podzieliłem się z rodziną i przyjaciółmi, pozostałe butelki leżakują w piwnicy.
    Wyszło tego nawet trochę za dużo. Wynika to z faktu, że zazwyczaj receptury są na objętość ~20 litrów. W moim
    przypadku, gdzie jeszcze jestem w fazie eksploracji różnych gatunków piwnych, zapewne lepszą strategią byłoby
    warzenie warek o mniejszej objętości, na przykład ~10 litrów. Z drugiej strony w tych przypadkach mam wrażenie,
    że nakład pracy nie jest adekwatny do efektów.
  </p>

  <p>
    Jako ciekawostkę mogę podać, że cena produkcji jednej butelki piwa (0.5 litra) w moim przypadku wyniosła około
    1.5 PLN (~0.35 USD). To jest oczywiście przy założeniu, że już się posiada wymagany sprzęt do fermentacji oraz
    butelkowania. Czyli łączna cena surowców podzielona przez liczbę butelek.
  </p>

  <Chapter name="Etykiety" id="labels" />
  <p>
    Mając kilka rodzajów piwa oraz co najmniej kilkadziesiąt butelek, stwierdziłem, że niezbędne będzie oznaczenie
    butelek. Wykorzystałem tę okazję, aby zaprojektować własny szablon etykiet, nadać nazwę mojemu "browarowi" oraz
    wymyślić nazwy dla uwarzonych piw. Było to bardzo kreatywne oraz zabawne ćwiczenie, bardzo mi się to podobało.
    W efekcie powstałe etykiety nadały relatywnie profesjonalny oraz rzemieślniczy charakter moim butelkom.
  </p>

  <Chapter name="Warzenie piwa, a inżynieria oprogramowania" id="brewing-vs-software" />
  <p>
    Po przejściu, kilka razy, całego procesu warzenia piwa, od zamówienia surowców, do otwarcia pierwszej butelki
    naszło mnie kilka refleksji. Chciałbym tutaj porównać te dwa wytwórcze procesy oraz podzielić się moimi
    spostrzeżeniami i odczuciami.
  </p>

  <p>
    <strong>Namacalny produkt</strong> - w przypadku procesu warzenia piwa, na końcu otrzymujemy namacalny produkt.
    Butelkę, którą możemy wziąć do ręki. Otworzyć lub wręczyć komuś. Z jakiegoś powodu było to bardzo
    satysfakcjonujące. W przypadku inżynierii oprogramowania prawie zawsze końcowy produkt jest wirtualny.
  </p>

  <p>
    <strong>Kompletność</strong> - uwarzone i zabutelkowane piwo jest gotowym produktem, który w istotny sposób nie
    zmieni swoich właściwości ani przeznaczenia. W przypadku cyfrowych produktów <a
      href="https://josem.co/the-beauty-of-finished-software/">prawie nigdy</a> nie jest to prawda. Ciągłe zmiany,
    usprawnienia, aktualizacje, nowe funkcjonalności, poprawki błędów itp. Oczywiście nie jest to dziwne. Obie te
    rodziny produktów są zupełnie innej natury i nie ma nic złego w tych różnicach. Natomiast efekt kompletności, na
    pewno wpłynął na moje poczucie satysfakcji z procesu warzenia piwa.
  </p>

  <p>
    <strong>Dystrybucja</strong> - w przypadku piwa, dystrybucja jest bardzo prosta. Mogę zabrać butelki i fizycznie
    wręczyć je komuś. Jest to na tyle naturalna czynność, że nie trzeba niczego wyjaśniać. W przypadku oprogramowania,
    jest to bardziej skomplikowane. Jeśli produktem jest aplikacja webowa, to wystarczy podać adres URL. To byłoby
    całkiem proste ale zazwyczaj wiąże się to ze stworzeniem nowego konta lub konfiguracją. Jeszcze gorzej, jeśli
    produktem jest biblioteka lub framework. W tych przypadkach przenosimy na użytkownika trudy integracji oraz
    eksploracji API. Z drugiej strony w przypadku oprogramowania, dostęp może być dużo bardziej powszechny. Miliony
    użytkowników na całym świecie mogą korzystać z tego produktu. Teoretycznie jesteśmy w stanie dostarczyć milion
    butelek piwa, ale w praktyce byłoby to bardzo skomplikowane logistycznie oraz dosyć drogie, gdzie w przypadku
    oprogramowania jest to praktycznie bezkosztowe.
  </p>

  <p>
    <strong>Skalowalność</strong> - w tym przypadku proces warzenia piwa, podobnie jak inne procesy, które wytwarzają
    fizyczne zasoby, jest dużo bardziej ograniczony w aspekcie skalowalności. Rozważmy przykład, w którym chciałbym
    produkować 100 litrów piwa zamiast 20 litrów (5x). Zamówienie większej ilości surowców nie jest problemem. Głównym
    problemem byłoby rozwinięcie infrastruktury do wytworzenia 100 litrów piwa. Potrzebowałbym większej kadzi, do
    warzenia piwa. Następnie dużo większej chłodnicy oraz fermentora. Dodatkowo musiałbym przygotować kilka kegów lub
    ~200 butelek. Wszystko to wiąże się nie tylko z większym kosztem, ale również z większą wymaganą powierzchnią. W
    przypadku domowego warzenia piwa również dochodzą ograniczenia prawne. W przypadku oprogramowania, w większości
    przypadków, nie mamy takich ograniczeń. Jeśli potrzebujemy więcej przestrzeni dyskowej lub CPU, to możemy albo
    relatywnie prosto je dodać, lub w przypadku usług chmurowych po prostu zmienić konfigurację infrastruktury.
  </p>

  <p>
    Jak widzimy oba typy procesów wytwórczych różnią się w wielu aspektach. Osobiście proces warzenia piwa był dla mnie
    bardzo ciekawy, satysfakcjonujący oraz inspirujący, biorąc pod uwagę, że prawie całe moje dorosłe życie spędzam na
    wytwarzaniu oprogramowania. Skłoniło mnie to też do refleksji nad pytaniem, czy wytwarzanie oprogramowania może być
    bardziej namacalne oraz kompletne. Myślę, że do kompletności powinniśmy dążyć. Namacalność w oczywisty sposób nie
    jest możliwa, ale myślę, że możemy to przełożyć na dobry design produktu. Tak, aby użytkownik pierwszy raz stykający
    się z naszym produktem, wiedział do czego on służy, jak z niego może skorzystać i jakie ma możliwości.
  </p>

  <Chapter name="Podsumowanie" id="summary" />
  <p>
    Na ten moment jestem bardzo zadowolony z efektów. Wszystkie dotychczasowe warki były udane i smaczne. Bardzo wiele
    się nauczyłem. Nowa umiejętność odblokowana. Celem na przyszłość jest iteracja po różnych stylach piwnych,
    następnie wybranie małego grona ulubionych i dopracowanie ich receptur pod moje osobiste preferencje.
  </p>

  <p>
    Ponadto warzenie piwa jest prostsze niż się wydaje! Bardzo polecam spróbować.
  </p>
</Post>
